/* ---- Google Fonts ---- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
/* ---- Custom Properties ---- */
:root{
    /* Colors */
    --clr-white: #fff;
    --clr-pink: hsl(322, 100%, 66%);
    --clr-palecyan: hsl(193, 100%, 96%);
    --clr-darkcyan: hsl(192, 100%, 9%);
    --clr-grayblue: hsl(208, 11%, 55%);
    /* Fonts and Typography */
    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'Poppins', sans-serif;

    --fs-h1: 1.4rem;
    --fs-h2: 1.2rem;
    --fs-h3: 1.15rem;
    --fs-h4: 1.1rem;
    --fs-big: .913rem;
    --fs-normal: .813rem;
    --fs-small: .724rem;

    --fw-reg: 400;
    --fw-med: 600;
    --fw-bold: 700;
    /* Box Shadow */
    --bxs-btn: 0px 4px 16px -10px rgba(0,0,0,0.75);
    --bxs-card: 0px 4px 20px -13px rgba(0,0,0,0.67);
    /* Others */
}
@media screen and (min-width: 900px){
    :root{
        --fs-h1: 2rem;
        --fs-h2: 1.6rem;
        --fs-h3: 1.4rem;
        --fs-h4: 1.2rem;
        --fs-normal: .938rem;
        --fs-small: .675rem;
    }
}
@media screen and (min-width: 1200px){
    :root{
        --fs-h1: 2.5rem;
        --fs-h2: 2.3rem;
        --fs-h3: 2rem;
        --fs-h4: 1.5rem;
        --fs-normal: .938rem;
        --fs-small: .675rem;
    }
}
/* ---- General Styles ---- */
/* Base */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 18px;
    scroll-behavior: smooth;
}
body{
    background: var(--clr-white);
    font-family: var(--ff-primary);
    font-size: var(--fs-normal);
    font-weight: var(--fw-reg);
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    cursor: pointer;
    background: none;
    border: none;
    font-family: inherit;
}
address{
    font-style: normal;
}
/* Typography */
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}
h4{font-size: var(--fs-h4);}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: var(--ff-secondary);
}
/* Layout */
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
}
/* Components */
.btn{
    box-shadow: var(--bxs-btn);
    font-weight: var(--fw-med);
}
.btn:hover{
    opacity: .85;

}
.btn-primary{
    background-color: var(--clr-pink);
    color: var(--clr-white);
    padding: .8rem 3rem;
    border-radius: 2rem;
}
.btn-secondary{
    background-color: var(--clr-white);
    color: var(--clr-darkcyan);
    padding: .35rem 1.5rem;
    border-radius: 1rem;
}
/* ---- Header Styles ---- */
.header{
    padding: 2rem 1rem;
    padding: 1.5rem;
    background-image: url(/images/bg-hero-mobile.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-color: var(--clr-palecyan);
    text-align: center;
}
.header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}
.logo{
    max-width: 125px;
}
.hero__title{
    font-family: var(--ff-secondary);
}
.hero__subtitle{
    font-size: var(--fs-big);
}
.hero__title,
.hero__subtitle{
    margin-bottom: 1.5rem;
    color: var(--clr-darkcyan);
}
.hero .btn-primary{margin-bottom: 3rem;}

/* ---- Section Styles ---- */

/* Feature Section */
.section--features{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.feature{
    box-shadow: var(--bxs-card);
    border-radius: 1.2rem;
    padding: 2.5rem 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
    max-width: 350px;

    text-align: center;
    color: var(--clr-grayblue);

    display: flex;
    flex-direction: column;
}
.feature .img-container{
    width: 90%;
    margin: 0 auto;
    order: -1;
    margin-bottom: 3rem;
}
.feature__title{
    color: var(--clr-darkcyan);
    margin-bottom: 1rem;
}
/* ---- Footer Styles ---- */
.footer{
    background-image: linear-gradient(to top, var(--clr-darkcyan) 85%, var(--clr-white) 15%);
    color: var(--clr-white);
    padding-bottom: .5rem;
}
.cta{
    background-color: var(--clr-white);
    color: var(--clr-darkcyan);
    padding: 2rem 1.5rem;
    margin-bottom: 5rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: var(--bxs-card);
}
.cta__title{
    margin-bottom: 1rem;
}
.footer .img-container{
    max-width: 200px;
    margin-bottom: 2rem;
}
.footer__address > div{
    display: flex;
    margin-bottom: 2rem;
}
.footer__address .icon{
    align-self: flex-start;
    margin-top: .2rem;
    margin-right: 1rem;
}
.address__location p{
    max-width: 380px;
}
.nav--footer .nav__item{
    margin-bottom: 1rem;
}
.social__list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.social__item{
    margin-right: 2rem;
    border: 1px solid var(--clr-white);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__item:hover .nav__link,
.social__item:hover .social__link{
    color: var(--clr-pink);
}
.copyright{
    text-align: center;
    font-size: var(--fs-small);
}
/* ---- Media Queries ---- */
@media screen and (min-width: 768px){
    /* Layout */
    .cta{
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    /* Header */
    .header{
        background-image: url(/images/bg-hero-desktop.svg);
        text-align: left;
    }
    .hero{
        display: grid;
        grid-template-columns: 45% 55%;
    }
    .hero .img-container{
        width: 90%;
        margin-left: auto;
    }
    .hero .txt-container{
        align-self: center;
    }

    /* Section */
    .feature{
        max-width: initial;
        flex-direction: row;
        text-align: left;
        padding-left: 5em;
    }
    .feature .txt-container{
        width: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    .feature .img-container{
        max-width: 35%;
        order: 2;
        margin: initial;
    }
    .feature:nth-child(2n + 1) .img-container{
        margin-left: auto;
    }
    .feature:nth-child(2n) .img-container{
        order: -1;
        margin-right: auto;
    }

    /* Footer */
    .footer{
        padding-bottom: 3rem;
    }
    .footer__body{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        gap: 1.5rem;
    }
    .social-container{
        display: flex;
        flex-direction: column;
    }
    .social__list{
        justify-content: space-between;
    }
    .social__item{
        margin: initial;
    }
    .copyright{
        margin-top: auto;
    }
}